.NavBar{
  background-color: rgba(0, 0, 0, 0.555);
  width: 100%;
  align-content: space-between;
}
.NavBar > div {
  width: 50%;
}
.NavBar > div >img{
  width: 97px;
}
.NavBar> .LinkBar {
  box-sizing: border-box;
  background-color: lawngreen;
  width: 50%;
}

.WelcomeCard {
  background-color: rgb(192, 211, 245);
  box-sizing: border-box;
  width: 90%;
  margin-left: 2%;
  border-radius: 20px;  
  padding: 30px 0 0 30px;
  
}
.WelcomeCard > button{
  margin: 30px 0 200px 0;
  padding: 5px 20px;
}
