:root {
  --cardsradius: 30px;
  --ViewCards-padding: 25px 40px 20px 40px;
}
.Container {
  background-color: #001220;
}

h1,
h3,
h4,
p {
  color: white;
}
/* Landing page */
.LandingPage {
  height: 100vh;
  background-image: url(../src/images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Header */
.Header {
  top: 0;
  width: 100%;
  position: fixed;
  transition: 0.3s;
  padding-top: 20px;
  z-index: 999999;
  background-color: transparent;
}
.Dp {
  width: 60px;
  transition: 0.3s;
  margin-left: 12%;
  margin-top: -10px;
  margin-bottom: 10px;
}
.NavBar {
  float: right;
  margin: 13px 100px 0 0;
}
.NavBar > a {
  margin-right: 30px;
  letter-spacing: 1px;
}
.NavBarMob {
  float: right;
  display: none;
  padding: 14px 30px 0 0;
}

/* Welcome Section */
.WelcomeContent {
  padding: 110px 0 0 13%;
  padding-left: 13%;
}
.SocialTop > div {
  margin-top: 10vh;
  margin-left: 0;
}
.WelcomeMsg {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 46px;
  color: white;
}
.WelcomeMsg > h1 {
  margin-bottom: -5px;
  font-size: 48px;
}
.CvBtn {
  margin: 20px 0 80px 0;
}

/* Skill Section */
.SkillView {
  height: 90vh;
  padding-top: 50px;
  text-align: center;
}

.SkillCard {
  box-sizing: border-box;
  display: flex;
  padding: 0 20px;
}
.BarChart {
  margin-top: 40px;
  width: 50%;
}

/* Project Section */
.ProjectView {
  margin-top: 50px;
  padding: var(--ViewCards-padding);
}
.ProjectView > h1 {
  text-align: center;
}
.ProjectCards {
  display: flex;
  margin-top: 4%;
  flex-direction: columns;
  justify-content: space-evenly;
}
.Column {
  width: 28%;
}
.Column > a {
  text-decoration: none;
}

.Column > a > div {
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  transition: transform 0.2s;
  background-color: #3b3e50;
  padding: 14px 20px 20px 20px;
  border-radius: var(--cardsradius);
}
.Column > a > div:hover {
  transform: scale(1.01);
}
.Column > a > div > p {
  font-size: 1.5rem;
}
.Column > a > div > img {
  width: 55%;
}

/* About Section */
.AboutView {
  padding: 20px 40px;
  background-color: #1f2235;
}
.Social {
  margin-right: 3rem;
}
.SocialBtn {
  display: flex;
  margin: 30px 0 0 0;
}
.SocialBtn > a {
  margin-right: 20px;
}
.SocialBtn > a:hover {
  margin-top: -3px;
}
.SocialBtn > a > div {
  width: 25px;
  height: 25px;
  background-size: cover;
}
.github {
  background-image: url(./images/github.png);
}
.linkedin {
  background-image: url(./images/linkedin.svg);
}
.instagram {
  background-image: url(./images/instagram.svg);
}
.flex {
  display: flex;
  justify-content: space-around;
}
.Contact > h4 {
  margin-bottom: 20px;
}
.AboutView > p {
  text-align: center;
  margin-bottom: 0;
  font-size: medium;
}

@media (max-width: 450px) {
  .ViewHeading {
    font-size: 40px;
  }
  /* Header */
  .Dp {
    width: 65px;
  }
  .Dropdown > a {
    float: none;
    display: block;
    padding: 12px 16px;
  }
  .NavBar {
    display: none;
  }
  .NavBarMob {
    display: block;
  }

  /* Welcome */
  .WelcomeMsg {
    font-size: 38px;
  }
  .WelcomeMsg > h1 {
    margin-bottom: -5px;
    font-size: 39px;
  }
  .SocialBtn {
    padding-left: 0;
  }

  /* Skills */
  .SkillCard {
    flex-direction: column;
  }
  .BarChart {
    width: 100%;
    margin-bottom: 50px;
  }
  /* Project Section */
  .ProjectCards {
    flex-direction: column;
    margin-top: 50px;
  }
  .Column {
    width: 100%;
  }

  /* About */
  .AboutView {
    padding: 20px 20px 0 20px;
  }
  .flex {
    flex-direction: column;
  }
  .Social > h4 {
    display: none;
  }
  .SocialBtn {
    margin: 10px 0 0 38%;
  }
}
