:root {
  --cardsradius: 30px;
  --ViewCards-padding: 25px 40px 20px 40px;
}

h1,
h3,
h4,
p {
  color: white;
}
/* Landing page */
.LandingPage {
  height: 100vh;
  background-image: url(../src/images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Header */
.Header {
  top: 0;
  width: 90vw;
  position: fixed;
  transition: 0.3s;
  padding-top: 20px;
  z-index: 999999;
  margin: 10px 20px 0 80px;
}

.Dp {
  width: 60px;
  transition: 0.3s;
  margin-left: 12%;
  margin-top: -10px;
  margin-bottom: 10px;
}
.NavBar {
  float: right;
  margin: 13px 100px 0 0;
}
.NavBar > a {
  margin-right: 30px;
  letter-spacing: 1px;
}
.NavBarMob {
  float: right;
  display: none;
  padding: 14px 30px 0 0;
}

/* Welcome Section */
.WelcomeContent {
  padding: 110px 0 0 13%;
  padding-left: 13%;
}
.WelcomeContent > img {
  float: right;
  margin-right: 150px;
  margin-top: 50px;
  z-index: -1;
}
.SocialTop > div {
  margin-top: 10vh;
  margin-left: 0;
}
.WelcomeMsg {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 46px;
  color: white;
}
.WelcomeMsg > h1 {
  margin-bottom: -5px;
  font-size: 48px;
}
.CvButton {
  margin-top: 20px;
  padding: 8px 20px;
  border: 1px solid white;
  color: #fff;
  background: #001220;
  position: relative;
  z-index: 0;
  border-radius: 8px;
}

.CvButton:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.CvButton:active {
  color: #001220;
}

.CvButton:active:after {
  background: transparent;
}

.CvButton:before {
  opacity: 1;
}

.CvButton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #001220;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Skill Section */
.SkillView {
  padding: 50px 0;
  text-align: center;
}

.SkillCard {
  box-sizing: border-box;
  display: flex;
  padding: 20px 20px;
}
.BarChart {
  margin-top: 40px;
  width: 50%;
}

/* About Section */
.AboutView {
  padding: 20px 40px;
  background-color: #1f2235;
}
.Social {
  margin-right: 3rem;
}
.SocialBtn {
  display: flex;
  margin: 30px 0 0 0;
}
.SocialBtn > a {
  margin-right: 20px;
}
.SocialBtn > a:hover {
  margin-top: -3px;
}
.SocialBtn > a > div {
  width: 25px;
  height: 25px;
  background-size: cover;
}
.github {
  background-image: url(./images/github.png);
}
.linkedin {
  background-image: url(./images/linkedin.svg);
}
.instagram {
  background-image: url(./images/instagram.svg);
}
.flex {
  display: flex;
  justify-content: space-around;
}
.Contact > h4 {
  margin-bottom: 20px;
}
.AboutView > p {
  text-align: center;
  margin-bottom: 0;
  font-size: medium;
}

@media (max-width: 450px) {
  .ViewHeading {
    font-size: 40px;
  }
  .Header {
    margin-left: 20px;
  }
  /* Header */
  .Dp {
    width: 65px;
  }
  .Dropdown > a {
    float: none;
    display: block;
    padding: 12px 16px;
  }
  .NavBar {
    display: none;
  }
  .NavBarMob {
    display: block;
  }

  /* Welcome */
  .WelcomeContent > img {
    display: none;
  }
  .WelcomeMsg {
    font-size: 38px;
  }
  .WelcomeMsg > h1 {
    font-size: 39px;
  }
  .SocialBtn {
    padding-left: 0;
  }

  /* Skills */
  .SkillCard {
    flex-direction: column;
  }
  .BarChart {
    width: 100%;
    margin-bottom: 50px;
  }

  /* About */
  .AboutView {
    padding: 20px 20px 0 20px;
  }
  .flex {
    flex-direction: column;
  }
  .Social > h4 {
    display: none;
  }
  .SocialBtn {
    margin: 10px 0 0 38%;
  }
}
